.App {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.tour-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}
.tour-container-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  height: 300px;
  width:300px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
.tour-container-items-details{
  display: flex;
  flex-direction: column;
  gap: 5px;

}
.tour-container-items-details-name{
  font-weight: 600;
  font-size: 20px;
}
.tour-container-items-details-map{
  display: flex;
  gap: 10px;
}